*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height:50vh;
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 80px;
    max-width: 80vw;
}


main h2{
    font-size: 8rem;
}

main p{
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main a {
    text-decoration: none;
}

main button{
    background: red;
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    padding: 8px 14px;
    cursor: pointer;
    background: linear-gradient(180deg , red,rgb(94, 10, 10));
    
    &:hover{
        background: linear-gradient(0deg , red,rgb(94, 10, 10));
    }
}




  