body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



main {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 100px auto 0;
}

.loading-spinner {
    --height-of-loader: 14px;
    --loader-color: #0071e2;
    width: 250px;
    height: var(--height-of-loader);
    border-radius: 30px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .loading-spinner::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
.tv-show-details {
    display: none;
    background-color: #00000087;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.tv-show-details.active {
    display: flex;
}

.tv-show-details img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}

.tv-show-info {
    color: #333;
    display: contents;
}

.tv-show-info h2 {
    font-size: 2rem;
    margin-top: 0;
    color: white;
}

.tv-show-info p {
    line-height: 1.6;
    color: white;
}

.tv-show-info .info {
    margin-top: 1rem;
}

.tv-show-info .info p {
    margin: 0.5rem 0;
}

.related-images {
    margin-top: 2rem;
    position: relative;
}

.related-images h3 {
    margin-bottom: 1rem;
    color: red;
    font-size: 1.5rem;
}

.carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 1rem;
}

.carousel img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.carousel img:hover {
    transform: scale(1.1);
}

.carousel-control {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
}

.trailer-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.trailer-content {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 45%;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}



#superembed-player{
    margin: 10px auto;
    padding: 20px;
    background:  black;
    border-radius: 14px;
    display: none;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

#video-container{
    position: relative;
}

.video-watermark{
    display: none;
    position: absolute;
    top: 5%;
    right: 3%;
    height: 40px;
    opacity: 60%;
}

.sel-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #131313;
    padding: 10px;
    border-radius: 15px;
}


/* Style for the server selector container */
.selector {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    background: #131313;
    border-radius: 10px;
    gap: 15px;
}

/* Style for the label */
.selector label {
    font-size: 16px; /* Larger font size for better readability */
    margin-right: 10px; /* Space between label and dropdown */
    color: white; /* Darker text color */
}

/* Style for the dropdown (select) */
.select {
    color: white;
    padding: 10px; /* Adds padding inside the dropdown */
    font-size: 16px; /* Font size */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    background-color: black; /* Light background color */
    cursor: pointer; /* Pointer cursor for better UX */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

/* Change border color on focus */
.select option {
    background: black;
    }
/* Change border color on focus */
.select:focus {
    border-color: #ff0000; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

/* Change background color on hover */
.select:hover {
    background-color: red; /* Slightly darker background on hover */
}

/* Optional: Adjust the appearance of the dropdown arrow */
.select::-ms-expand {
    display: none; /* Hide default dropdown arrow in IE */
}


.play-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.play-btn:hover {
    background-color: #b11f1f;
}

.btn {
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: all .3s;
    text-decoration: none;
    color: white;
    margin-top: 5px;
}


.btn:hover{
    scale: 1.08;
}

@media screen and (max-width:900px) {

    #superembed-player{
        flex-direction: column-reverse;
    }


    .sel-container2{
        display: flex;
    }
    
    #video-frame{
        width: 100%;
    }

    #video-container{
        width: 100%;
    }
}

@media screen and (max-width:768px) {

    .tv-show-details.active{
        flex-direction: column;
    }

    .related-images{
        width: 85%;
        margin: 2rem auto 0;
    }

    .related-images img{
        max-width: 180px;
    }
    
}


@media screen and (max-width:600px) {
    .selector {
    
        padding: 12px;
            gap: 10px;
    }
    
    /* Style for the label */
    .selector label {
        font-size: 8px; /* Larger font size for better readability */
        margin-right: 6px; /* Space between label and dropdown */
    }
    
    /* Style for the dropdown (select) */
    .select {
        padding: 7px; /* Adds padding inside the dropdown */
        font-size: 10px; /* Font size */

    }

    .play-btn {
        margin-top: 0;
        padding: 8px 16px;
        font-size: .8em;
        
    }

    .btn {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}


@media screen and (max-width:500px) {
    .related-images{
        width: 95%;
    }
}

@media screen and (max-width:420px) {
    .select {
        font-size: 7px; /* Font size */

    }

    .selector {
    
        padding: 5px;
            gap: 7px;
    }
}

@media screen and (max-width:320px) {
   .sel-container{
    width: 120%;
   }
}